dragons/.project
dragons/.settings/
dragons/android/.classpath
dragons/android/.project
dragons/android/.settings/
dragons/android/target/
dragons/core/.classpath
dragons/core/.project
dragons/core/.settings/
dragons/core/target/
dragons/flash/.classpath
dragons/flash/.project
dragons/flash/.settings/
dragons/flash/target/
dragons/html/.classpath
dragons/html/.project
dragons/html/.settings/
dragons/html/.gwt/
dragons/html/target/
dragons/ios/.project
dragons/ios/.settings/
dragons/java/.classpath
dragons/java/.project
dragons/java/.settings/
dragons/java/target/

.classpath
.project
.settings
dragons/target
dragons/android/target
dragons/assets/target
dragons/core/target
dragons/flash/target
dragons/html/target
dragons/ios/target
dragons/java/target

**/.DS_Store
