.project
.settings/
android/.classpath
android/.project
android/.settings/
android/target/
core/.classpath
core/.project
core/.settings/
core/target/
flash/.classpath
flash/.project
flash/.settings/
flash/target/
html/.classpath
html/.project
html/.settings/
html/.gwt/
html/target/
ios/.project
ios/.settings/
java/.classpath
java/.project
java/.settings/
java/target/

.classpath
.project
.settings
target
android/target
assets/target
core/target
flash/target
html/target
ios/target
java/target

.idea
*.iml

**/.DS_Store
